.estado {
    padding: 2px;
    border-style: hidden;
    border-radius: 13px;
    color: #ffffff !important;
}

.activo {
    background-color: green !important;
}

.estado .text {
    text-align: center;
}

.inactivo {
    background-color: rgb(223, 84, 84) !important;
}


.select-control {
    display: block;
    width: 14%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
}